{% extends 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}
    <div class="text-center pt-4 pb-10 lg:pt-10 lg:pb-24">
        <h1 class="text-3xl lg:text-6xl mb-0 uppercase"><a class="no-underline" href="{{ url() }}/{{ entry.id }}">{{ entry.title }}</a></h1>
    </div>

    {% set componentsCacheID = strings('componentsCacheID').hash().toString() %}
    {% if flextype.cache.has(componentsCacheID) %}
        {% set components = flextype.cache.get(componentsCacheID) %}
    {% else %}
        {% set components = flextype.entries.fetch('components', {'collection': true}).exceptFromCollection(['content']).sortByAsc('title') %}
        {% do flextype.cache.set(componentsCacheID, components) %}
    {% endif %}

    <div class="lg:flex lg:flex-wrap">
        {% for component in components %}
        <a href="{{ url() }}/{{ component.id }}" class="p-4 w-full lg:w-4/12 cursor-pointer no-underline">
            <h3 class="mb-2">{{ component.title }}</h3>
            <div>
                {{ component.description }}
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
