{% extends 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}
    <!-- introducing section -->
    <div class="container relative mx-auto mb-10">
        <div class="text-center">
            <h1 class="uppercase mb-10 mt-10 p-4 text-2xl text-center lg:text-center lg:text-5xl lg:m-0 lg:p-24">A set of decoupled and reusable PHP building blocks for kickass Web Applications.</h1>
            <div class="flex justify-center">
                <a
                    href="{{ baseUrl() }}/components"
                    class="rounded-xl
                           inline-block
                           no-underline
                           uppercase
                           text-center
                           text-lg
                           relative
                           pr-2 pl-2 pt-2 pb-2 lg:pt-6 lg:pb-6
                           border-gray-200
                           bg-gray-100
                           border
                           text-black
                           hover:bg-gray-200
                           hover:text-black
                           w-9/12 lg:w-3/12">View Components</a>
            </div>
        </div>
    </div>
    <!-- /introducing section -->
{% endblock %}
