{% extends 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}

    {% set uri1 = request.getUri().getPath()|split('/').1 %}
    {% set uri2 = request.getUri().getPath()|split('/').2 %}
    {% set uri3 = request.getUri().getPath()|split('/').3 %}

    {% set gettingStarted = flextype.entries.fetch('components/' ~ uri1 ~ '/getting-started', {'collection': true}).sortByAsc('title') %}
    {% set methods = flextype.entries.fetch('components/' ~ uri1 ~ '/methods', {'collection': true}).sortByAsc('title') %}

    {% if uri1 == 'filesystem' %}
        {% set methods = arrays(methods).groupBy('class') %}
    {% endif %}

    <div class="text-center pt-20 pb-20 m-0">
        <div>
            <h1 class="text-3xl lg:text-6xl mb-0 {% if uri2 != 'methods' %}uppercase{% endif %}"><a class="no-underline" href="{{ url() }}/{{ entry.id }}">{{ entry.title }}</a></h1>
        </div>
        <div>
            <span class="opacity-50"><a class="no-underline" href="{{ url() }}/components">COMPONENTS</a></span>
            {% if uri2 %}
            <span class="opacity-50">/</span>
            <span class="opacity-50"><a class="no-underline uppercase" href="{{ url() }}/components/{{ uri1 }}">{{ flextype.entries.fetch('components/' ~ uri1).title }}</a></span>
            <span class="opacity-50">/</span>
            <span class="opacity-50"><a class="no-underline uppercase" href="{{ url() }}/components/{{ uri1 }}/{{ uri2 }}">METHODS</a></span>
            {% endif %}
        </div>
    </div>
    <div class="flex flex-wrap">
        <div class="p-4 w-9/12">
            {{ entry.content|shortcode|markdown|raw }}
            {% if not uri2 %}
                {% if uri1 == 'filesystem' %}
                    <h4>Filesystem</h4>
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Method</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            {% for item in methods['filesystem'] %}
                                <tbody>
                                    <tr>
                                        <td><a href="{{ url() }}/{{ item.id }}">{{ item.title }}</a></td>
                                        <td>{{ item.description }}</td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                    <h4>File</h4>
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Method</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            {% for item in methods['file'] %}
                                <tbody>
                                    <tr>
                                        <td><a href="{{ url() }}/{{ item.id }}">{{ item.title }}</a></td>
                                        <td>{{ item.description }}</td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                    <h4>Directory</h4>
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Method</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            {% for item in methods['directory'] %}
                                <tbody>
                                    <tr>
                                        <td><a href="{{ url() }}/{{ item.id }}">{{ item.title }}</a></td>
                                        <td>{{ item.description }}</td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Method</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            {% for item in methods %}
                                <tbody>
                                    <tr>
                                        <td><a href="{{ url() }}/{{ item.id }}">{{ item.title }}</a></td>
                                        <td>{{ item.description }}</td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="pt-4 pb-4 pl-10 w-3/12">
            <h4 class="mb-2">Getting Started</h4>
            <ul>
                {% for item in gettingStarted %}
                <li class="mb-2"><a href="{{ url() }}/{{ item.id }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
            <h4 class="mt-4 mb-2">Methods</h4>
            {% if uri1 == 'filesystem' %}
                <h5>Filesystem</h5>
                <ul>
                    {% for item in methods['filesystem'] %}
                    <li class="mb-2">
                        <a href="{{ url() }}/{{ item.id }}">{{ item.title }}</a>
                        <small class="opacity-75 block">
                            {{ item.description }}
                        </small>
                    </li>
                    {% endfor %}
                </ul>
                <h5>File</h5>
                <ul>
                    {% for item in methods['file'] %}
                    <li class="mb-2">
                        <a href="{{ url() }}/{{ item.id }}">{{ item.title }}</a>
                        <small class="opacity-75 block">
                            {{ item.description }}
                        </small>
                    </li>
                    {% endfor %}
                </ul>
                <h5>Directory</h5>
                <ul>
                    {% for item in methods['directory'] %}
                    <li class="mb-2">
                        <a href="{{ url() }}/{{ item.id }}">{{ item.title }}</a>
                        <small class="opacity-75 block">
                            {{ item.description }}
                        </small>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul>
                    {% for item in methods %}
                    <li class="mb-2">
                        <a href="{{ url() }}/{{ item.id }}">{{ item.title }}</a>
                        <small class="opacity-75 block">
                            {{ item.description }}
                        </small>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
